body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-custom, .navbar-custom:active {
  background-color: #04395e;
}

.navbar-toggler {
  margin-right: 0;
  padding: 0;
}

.navbar-brand {
  width: 15%;
}

.navbar-brand,
.nav-item,
.nav-link {
  color: white;
}

.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover,
.navbar-nav .nav-link.active {
  color: #d5896f;
}

.navbar-nav .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu {
  --bs-dropdown-color: #212529;
  --bs-dropdown-inner-border-radius: calc(1rem - 5px);
  --bs-dropdown-divider-bg: #04395e;
  --bs-dropdown-divider-margin-y: 2rem;
  --bs-dropdown-link-color: #04395e;
  --bs-dropdown-link-hover-color: #d5896f;
  --bs-dropdown-link-hover-bg: white;
  --bs-dropdown-link-active-color: white;
  --bs-dropdown-link-active-bg: #d5896f;
}


a.dropdown-item {
  background-color:white;
  color:#04395e;
}

a.dropdown-item:active {
  background-color:#d5896f;
}

.btn-primary {
  background-color: #04395e;
  margin:2px;
}

.btn-primary:active {
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
}

.btn-primary:hover {
  background-color: #04395e;
  color:#d5896f;
}

.search {
  color: white;
  background-color: #04395e;
  border-color: white;
}

.search:hover {
  color: #d5896f;
  background-color: #031d44;
  border-color: #d5896f;
}

.login {
  min-width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-background {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.login button,
.delete-button {
  color: white;
  background-color: #04395e;
  border-color: #04395e;
}

.login button:hover,
.delete-button:hover {
  color: #d5896f;
  background-color: #031d44;
  border-color: #d5896f;
}

.delete-text {
  color:#031d44;
  font-weight: 500;
}

.d-block.w-100 {
  height: 40rem;
  object-fit: cover;
}

.travel-card {
  text-align: center;
  width: 14rem;
  border-color: #031d44;
  color: #031d44;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.edit-link {
  font-size: 1rem;
  font-weight: 500;
  color: #04395e;
  background-color: white;
  border-color: #04395e;
  padding-bottom: 0;
  text-decoration: none;
}

.edit-link:hover {
  color: #D5896F;
}

i.edit-link {
  font-size: 2rem;
  font-weight: lighterbtn;
}

.like-button,
.comment-button {
  font-size: 0.9rem;
  color: #04395e;
  background-color: white;
  border-color: white;
  padding-bottom: 0;
}

.like-button:hover,
.comment-button:hover {
  color: #04395e;
  background-color: white;
  border-color: white;
}

.like-button i,
.comment-button i {
  font-size: 2rem;
}

.like-button i:hover,
.comment-button i:hover {
  color: #dab785;
}

.login-tab > li > button {
  background-color:lightgray;
  color:#031d44;
  border-color:#f0f0f0;
}

.login-tab > li > button:hover {
  background-color:lightgray;
  color:#031d44;
  border-color:#f0f0f0;
}

div.travel-card-footer.card-footer {
  background-color: white;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.register-container {
  background-image: url('/src/travel-images/register-background-image/register-background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.register-container h3 {
  color: #ffffff;
  font-weight: bold;
  text-shadow: #f0f0f0 1px 1px 1px;
}

.register-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.register-form button {
  padding: 10px;
  background-color: #04395e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.register-form button:hover {
  background-color: #011524;
}

.success-message {
  color: green;
  font-size: 20px;
}

.error-message {
  color: red;
  font-size: 20px;
}

.comment-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  padding: 10px;
  border-color: #031d44;
  color: #031d44;
}

.comment-text-input {
  border-style: none;
  padding: 0;
}

.comment-card-foot {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  font-size: 14px;
}

.comment-like,
.edit-comment,
.delete-comment {
  cursor: pointer;
}

#comment-new:focus{
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.profile-link, .delete-comment {
  color: #031d44;
  text-decoration: none;
}

.profile-link:hover,
.edit-comment:hover,
.comment-like:hover,
.delete-comment:hover {
  color: #D5896F;
}

.favorite-button {
  margin-bottom: 5px;
  margin-left: 5px;
  display: inline-flex;
  align-items: flex-end;
  cursor: pointer;
}

.hide-checkbox {
  display: none;
}

.favorite-button i {
  transition: transform 0.2s ease, color 0.2s ease;
}
.profile-container,
.travel-plan-container {
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  padding: 10px;
  border-color: #031d44;
  color: #031d44;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.profile-background {
  background-image: url('/src/travel-images/profile-bg-image.jpg');
}

.travel-plan-background {
  background-image: url('/src/travel-images/travel-bg-image.jpg');
}

.profile-background, .travel-plan-background {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.weather-icon {
  font-size: 20pt;
}

.pages {
  color: #D5896F
}

/*

#031D44 - dark blue
#04395E - lighter Blue
#70A288 - green
#DAB785 - tan
#D5896F - reddish

*/