body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-custom {
  background-color: #04395E;
}

.navbar-brand, .nav-item, .nav-link {
  color: white;
}

.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover,
.navbar-nav .nav-link.active {
  color: #D5896F;
}

.navbar-nav .nav-link {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search {
  color: white;
  background-color: #04395E;
  border-color: white;
}

.search:hover {
  color: #D5896F;
  background-color: #031D44;
  border-color: #D5896F;
}

.login {
  width: 20rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-background {
  background-image: url('travel-images/ashim-d-silva-pGcqw1ARGyg-unsplash.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.login button {
  color: white;
  background-color: #04395E;
  border-color: #04395E;
}

.login button:hover {
  color: #D5896F;
  background-color: #031D44;
  border-color: #D5896F;
}

.d-block.w-100 {
  height: 40rem;
  object-fit: cover;
}

.travel-card {
  text-align: center;
  width: 14rem;
  border-color: #031D44;
  color:#031D44;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.like-button, .comment-button {
  font-size: 1rem;
  color:#04395E;
  background-color:white;
  border-color: white;
}


.btn-primary:active {
  --bs-btn-active-bg:white;
  --bs-btn-active-border-color: white;
}

.like-button:hover, .comment-button:hover {
  color:#04395E;
  background-color: white;
  border-color: white;
}

.like-button i,
.comment-button i {
  font-size: 2rem;
}

.like-button i:hover,
.comment-button i:hover {
  color:#DAB785;
}

.travel-card-footer {
  background-color: white;
}

.register-container {
  background-image: url('/src/travel-images/register-background-image/register-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f0f0f0;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.register-container h3{
  color: #ffffff;
  font-weight: bold;
  text-shadow: #f0f0f0 1px 1px 1px;
}

.register-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.register-form button {
  padding: 10px;
  background-color: #04395E;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.register-form button:hover {
  background-color: #011524;
}

.success-message {
  color: green;
  font-size: 20px;
}

.error-message {
  color: red;
  font-size: 20px;
}

.comment-card-foot {
  font-size: 14px;
  text-align: end;
}

/*

#031D44 - dark blue
#04395E - lighter Blue
#70A288 - green
#DAB785 - tan
#D5896F - reddish

*/